<div class="jumbotron">
    <h1 class="display-3">Random Password #@ViewBag.Count:</h1>
    <h2 class="display-4">@ViewBag.Password</h2>
    <hr class="my-2">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Generate</a>
    </p>
</div>



